body {
  height: 100vh;
}
.homeContainer {
  background: url("");

  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bar {
  height: 100vh;
}
.homeContainer {
  background-image: url("https://images.unsplash.com/photo-1534787238916-9ba6764efd4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}
.confirmButton {
  margin-left: 900px;
  margin-bottom: 500px;
}
.confirmSSN {
  width: 100%;
}
.removeSSN {
  width: 100%;
}
.users {
  padding: 60px;
  width: 20%;
  height: 40%;
  margin-left: 400px;
}
.usersText {
  margin-right: 50px;
}
